*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 100vw;
}

nav{
  width: 100%;
  padding: 0 15rem;
  background-color: #1e3551;
  max-height: max-content;
  position: sticky;
  top: 0;

}

#navbar{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo{
  max-width: 25%;
}
#logo img{
  max-width: 65%;
}
#menu ul{
  display: flex;
  justify-content:center;
  align-items: center;
  color: whitesmoke;
}
#menu ul li{
  list-style: none;
  padding: 0 1rem;
  width: max-content;;
  
}
#menu li a:hover{
  color: #1e3551;
  background-color: whitesmoke;
  cursor: pointer;
  padding: .5rem;
  border-radius: 20px;
}
#apply{
  background-color: #37beb0;
  padding: .5rem;
  border-radius: 20px;
}
#menu li #apply:hover{
  background-color: #37beb0;
  padding: .5rem;
  border-radius: 20px;
  color: whitesmoke;
}
.sec1{
  padding: 3rem 15rem;
}
.heading {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 4rem;
  font-weight: 500;
  color: #1e3551;
}
.heading2{
  max-width: 50%;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  color: whitesmoke;
  margin:  1.5rem auto;
  text-align: center;
  border: none;
  border-radius: 75%;
  box-shadow: 0 0 1rem 1rem #37BEB0; 
  background-color: #37BEB0;
}
.mid_sec{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
.brace{
  font-size: 4rem;
}
.para{
  font-size: 2rem;
  font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #1e3551;
}
.sec1 h3{
  margin-top: 3rem;
  text-align: center;
}
.btn{
  text-align: center;
  margin-top: 1rem;
}
.btn button{
    color: whitesmoke;
    background-color: #37BEB0;
    padding: .7rem 1rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn button:hover{
    background-color: #09534c;
}
.sec2{
  padding: 2rem 15rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #1e3551;
}
.sec2 h2{
  color: #37BEB0;
}
.title{
  max-width: 32%;
  min-width: 30%;
  max-height: fit-content;
  overflow: hidden;
  background-color: whitesmoke;
  text-align: center; 
  padding: 1.5rem 2rem;
  margin: 0 .3rem;
  font-family: "Poppins", sans-serif;
  color: #1e3551;
  border-radius: .5rem;
  box-shadow: 0 0 1rem .1rem #37BEB0;
  transition-duration: 1s;
  display: flex;
  justify-content: space-between;
}
.title a{
  text-decoration: none;
  color: #1e3551;
  cursor: auto;
}
.title:hover{
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.title h4:hover{
  color: #37beb0;
}
.first{
  position: relative;
  display: flex;
}
.content{
  padding: 1rem;
}
.globe{
  position: absolute;
  left: -10%;
  max-width: 30%;
  margin-right: 3rem;
  align-self: center;
}
.second{
  position: relative;
  display: flex;
}
.clock{
  position: absolute;
  left: -10%;
  max-width: 30%;
  margin-right: 3rem;
  align-self: center;
}
.third{
  position: relative;
  display: flex;
}
.checklist{
  position: absolute;
  left: -10%;
  max-width: 30%;
  margin-right: 3rem;
  align-self: center;
}








@media (max-width:750px) {
  #menu{
    display: none;
  }
  nav{
    padding: 0 1rem;
  }
  #logo{
    max-width: 50%;
    min-width: 2rem;
  }
  #navbar{
    justify-content: flex-start;
    max-width: 100%;
    min-width: 100%;
  }
}